{% extends 'base.html.twig' %}

{% block title %}Hello Api-Platform 3{% endblock %}

{% block body %}
    <script>
        window.user = {{ user|raw }}
    </script>

    <div class="container-main">
        <div class="row" >
            <div class="col-6 offset-3 example-wrapper example-wrapper-center">
                <div class="box-content">
                    <h1>Panel logowania</h1>
                </div>

                <div class="box-content-2">
                    <div class="container">
                        <div class="row">
                            <div class="login-form mt-4 p-4">

                                <form method="post" action="#" class="row">

                                    <div id="error-message" class="alert d-none alert-danger"></div>

                                    <div class="col-12 mb-2">
                                        <label for="inputEmail">Email</label>
                                        <input type="email" name="email" id="inputEmail" value="" class="form-control" required autofocus>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <label for="inputPassword">Hasło</label>
                                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                                    </div>
                                                           <div class="form-check mb-2">
                                                               <label>
                                                                   <input type="checkbox" name="_remember_me" class="form-check-input">
                                                                   Zapamiętaj mnie
                                                               </label>
                                                           </div>

                                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <div class="col-12 mb-2">
                                        <button class="btn btn-lg btn-primary float-end" type="submit">Zaloguj</button>
                                    </div>
                                    <div class="col-12 mb-2">
                                        jeżeli nie masz jeszcze konta: <a href="{{ path('app_sign_up') }}" >zarejestruj się</a>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_end %}
{#    <script src={{ asset('asset/js/loginAjax.js') }}></script>#}
{% endblock %}

