
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Liczba odwiedzających</th>
            <th scope="col">Akcje</th>
        </tr>
        </thead>
        <tbody>
        {%  for country in data %}
            <tr>

                <td><span class="fi fi-{{ country.flagSymbol | lower }}"></span> {{ country.name }}</td>
                <td>{{ country.usersVisited | length }}</td>
                <td>
                    {% if userCurrent not in country.usersVisited %}
                        <a href="#"><i class="fa-solid fa-jet-fighter"></i> Dodaj do odwiedzonych</a>
                    {% else %}
                        <a href="#"><i class="fa-solid fa-toilet"></i> Usuń z odwiedzonych</a>
                    {% endif %}
                        <a href="{{ path('app_country_info', {country_id : country.id}) }}"><i class="fa-solid fa-eye"></i> Zobacz szczegóły</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
