/*prawe menu*/
.right-menu {
  display: flex;
}
.right-menu a {
  color: #000;
}
.right-menu a.user-profile {
  color: #000;
}
.right-menu a.login, .right-menu a.logout, .right-menu a.sign-up {
  color: #8a8a8a;
  border: 1px solid #8a8a8a;
  margin-right: 10px;
  padding: 6px 15px;
}
.right-menu .dropdown-toggle {
  border-color: #8a8a8a;
  border-radius: 0px;
}
.right-menu .dropdown-menu {
  left: unset;
  right: 0;
}
.admin-block-bar {
  border: 2px solid #fc0000;
  padding: 10px;
  margin-top: 10px;
}
