<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Welcome to Hell</title>
</head>
<body>
    <div class="header">
        <h1>Irena</h1>
    </div>
    {% block content %}

    {% endblock %}
    <div class="footer">
        <p>Smierdząca stopa.</p>
    </div>
</body>
</html>
